@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
  }
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/roboto/RobotoCondensed-Bold.woff') format('woff'),
  }
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/roboto/RobotoCondensed-Regular.woff') format('woff'),
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Mono.woff') format('woff'),
  }

.button {
  transition: background .2s linear,opacity .2s linear;
  cursor: pointer;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 47px;
  border-radius: 3px;
  display: inline-block;
  padding: 0 35px 1px 35px;
  color: #5C8146;
  border: 0;
  width: 220px;
  box-shadow: none;
  background: #BEEDAE;
}
.button:hover {
  background: #87ed65;
}

.button.rubber {
  width: auto;
}
.button.pink {
    background-color: rgb(255, 136, 157);
}
.button.pink:hover {
  background-color: rgb(255, 161, 178);
}

form {
  text-align: center;
}

form input {
  box-shadow: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 47px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #000;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
  float: none;
  width: 220px;
  height: 47px;
  margin: 10px 0;
  padding: 0 5px;
  transition: border .1s linear,box-shadow .1s linear;
}
form input:focus {
  border-color: #52bad5;
  -webkit-box-shadow: 0 0 5px 0 #7bcadf;
  box-shadow: 0 0 5px 0 #7bcadf;
}